<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        <dl>
            <dt>Search Name</dt>
            <dd><input id = "name" name="name" type="text"/></dd>
            <dt>Search price</dt>
            <dd><input id = "price" name="price" type="text" value = "number-number"/></dd>
            <dt>Search qty</dt>
            <dd><input id = "qty" name="qty" type="text" value = "number-number"/></dd>
            <dd><input type="submit" value="submit" /></dd>
        </dl>
    </form>
</body>
</html>