<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a {
            size: 30px;
        }
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
    </style>
</head>
<body>
        <ul>

        {% for name, link in links%}
          <li><a href={{link}}>{{name}}</a></li>
        {% endfor %}

        </ul>
        
        </body>
</html>