<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for name, price in products%}
        <tr>
            <th>{{loop.index}}</th>
            <th>{{name}}</th>
            <th>{{price | round(2)}}</th>
        </tr>
        {% endfor %}

    </table>
</body>
</html>